.recipe-slide {
  padding: 0.75rem 1.875rem !important;
}

.recipe-slide .swiper-button-prev,
.recipe-slide .swiper-button-next {
  width: 2.8125rem;
  height: 2.8125rem;
  border-radius: 50%;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  background-size: cover;
}

.recipe-slide .swiper-button-prev::after,
.recipe-slide .swiper-button-next::after {
  content: '';
}

.recipe-slide .swiper-button-prev {
  left: 0;
  background: url('/ico-arrow-prev.svg') no-repeat center;
}

.recipe-slide .swiper-button-next {
  right: 0;
  background: url('/ico-arrow-next.svg') no-repeat center;
}

@media (max-width: 767px) {
  .recipe-slide .swiper-button-prev,
  .recipe-slide .swiper-button-next {
    display: none;
  }
}
